<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="7e8f62">  <td>18/02/27 16:25:44</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;testproperties.init()[pri:0, instance:testbase.DemoTestSuite@27c20538]">&gt;&gt;init</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2068434592</td>   <td></td> </tr>
<tr bgcolor="c7cbad">  <td>18/02/27 16:25:44</td>   <td>4</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;DemoTestSuite.beforeMethod()[pri:0, instance:testbase.DemoTestSuite@27c20538]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2068434592</td>   <td></td> </tr>
<tr bgcolor="c7cbad">  <td>18/02/27 16:25:50</td>   <td>6615</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DemoTestSuite.Login()[pri:0, instance:testbase.DemoTestSuite@27c20538]">Login</td> 
  <td>main@2068434592</td>   <td></td> </tr>
<tr bgcolor="c7cbad">  <td>18/02/27 16:26:00</td>   <td>15961</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DemoTestSuite.Logout()[pri:1, instance:testbase.DemoTestSuite@27c20538]">Logout</td> 
  <td>main@2068434592</td>   <td></td> </tr>
<tr bgcolor="c7cbad">  <td>18/02/27 16:26:07</td>   <td>23801</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DemoTestSuite.test1()[pri:2, instance:testbase.DemoTestSuite@27c20538]">test1</td> 
  <td>main@2068434592</td>   <td></td> </tr>
<tr bgcolor="c7cbad">  <td>18/02/27 16:26:07</td>   <td>23840</td> <td title="&lt;&lt;DemoTestSuite.afterMethod()[pri:0, instance:testbase.DemoTestSuite@27c20538]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2068434592</td>   <td></td> </tr>
</table>
